*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
}

body{
    height: 100%;
    width: 100%;
    /* may need to adjust this for more toppicks 
    Possibly 100vh vw width and height
    */
    
}

.Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    
  }

.Ecard{
    background: white;
    width: 280px;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    
    margin: 10px;
    background-size: cover;
    border-radius: 15px;
}

.Ecard-image{
    background-color: aqua;
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.Ecard-1{
    background-image: url(./Assets/test-image1.jpg);
}

.Ecard-2{
    background-image: url(./Assets/test-image2.jpg);
}

.Ecard-3{
    background-image: url(./Assets/test-image3.jpg);
}

.Ecard-4{
    background-image: url(./Assets/test-image4.jpg);
}

.Ecard-5{
    background-image: url(./Assets/test-image5.jpg);
}

.Ecard-6{
    background-image: url(./Assets/test-image6.jpg);
}

.Ecard-7{
    background-image: url(./Assets/test-image7.jpg);
}

.Ecard-8{
    background-image: url(./Assets/test-image8.jpg);
}

.Ecard h2{
    padding: 10px;
}

.Ecard p{
    padding: 10px;
    overflow: hidden;
}

.Ecard a{
    background-color: black;
    color: white;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 20px 20px;
    text-decoration: none;
}
.Ecard button{
    background-color: black;
    color: white;
    padding: 15px 10px;
    display: block;
    text-align: center;
    margin: 20px 20px;
    text-decoration: none;
}

.Ecard:hover{
    background-color: rgb(62,62,62);
    color: white;
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.5s ease;
}