*body{
    
    font-family: sans-serif;
}
.searchBar{
    border-radius: 30px;
    width: 400px;
    height: 40px;
    position: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
  
.searchButton{
    border-radius: 30px;
    height: 30px;
    width: 70px;
}

