.container{
    height: 400px;
}

.contact{
    padding: 10px;
    justify-content: center;
    background-image: url(../../components/Assets/Screenshot.png);


}

.contact h2{
    text-align: center;
}

.contact p{
    text-align: center;
}