body{
  font-family: sans-serif;
}

.mainpgContainer{
  width: 100vw;
  height: 100vh;
}

.addTPBtn{
  display: inline-flex;
  height: 60px;
  width: 60px;
  padding: 10;
  margin-left: 10px;
  outline: none;
  border: none;
  overflow: hidden;
  font-size: 500;
  font-weight: 500;
  cursor: pointer;
}
.bookButton{
  border: none;
  background-color: none;
  
}